<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des ouvrages</title>

    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->

</head>
<body>
<!-- menu de l'application dans le header -->
<div th:insert="mon-header.html"/>

<div class="container">

    <h1>Liste des Ouvrages</h1>

    <div class="row">
        <div th:each="ouvrage : ${ouvrages}" class="col-md-4 my-1">
<!--            <a th:href="@{|/ouvrage/${ouvrage.getOuvrageId()}|}" >-->
            <a th:href="@{|/details?ouvrageId=${ouvrage.getOuvrageId()}|}" >
                <p th:text= "${ouvrage.getOuvrageReference()}"></p>
            </a>
        </div>
    </div>

</div>
</body>
</html>